body {
  background: #aaf;
}



.default {
  font-family: serif;
  font-size: 14pt;
  margin: auto;
  width: 50%;
  border: 3px solid blue;
  padding: 10px;
  background: #88f;
}

.meta {
  font-family: sans-serif;
  font-size: 14pt;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  background: #8f8;
}

#inner, h1 {
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  background: #eee;
}  
